@font-face {
  font-family: "iconfont"; /* Project id 3187345 */
  src: url('iconfont.woff2?t=1655440125269') format('woff2'),
       url('iconfont.woff?t=1655440125269') format('woff'),
       url('iconfont.ttf?t=1655440125269') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chatianqi:before {
  content: "\e617";
}

.icon-juejin:before {
  content: "\e60b";
}

.icon-react:before {
  content: "\e68b";
}

.icon-typescript:before {
  content: "\ecef";
}

.icon-caomao:before {
  content: "\e602";
}

.icon-svggeshi-:before {
  content: "\e658";
}

.icon-xiangmu:before {
  content: "\e612";
}

.icon-gaosu:before {
  content: "\e601";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-my:before {
  content: "\e681";
}

.icon-gitee:before {
  content: "\e60c";
}

