@font-face {
  font-family: "iconfont"; /* Project id 3187345 */
  src: url('iconfont.woff2?t=1648604199311') format('woff2'),
       url('iconfont.woff?t=1648604199311') format('woff'),
       url('iconfont.ttf?t=1648604199311') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangmu:before {
  content: "\e612";
}

.icon-gaosu:before {
  content: "\e601";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-my:before {
  content: "\e681";
}

.icon-gitee:before {
  content: "\e60c";
}

